# Игнорировать файлы .log
*.log

# Игнорировать директорию node_modules
node_modules/

# Игнорировать файлы .env (содержащие чувствительные данные)
.env

# Игнорировать директорию build
build/

.vscode